body {
    font-family: var(--font-body), sans-serif;
}

.hero .main-title {
    font-family: var(--font-title), sans-serif;
    line-height: 1;
    font-weight: initial !important;
}

@media (min-width: 768px) {
    .hero .main-title {
        font-size: clamp(3rem,2rem + 5vw,4.25rem);
    }
}